corona-out-2
corona-out-3
.ipynb_checkpoints
/json_files/corona-out-2.json
/json_files/corona-out-3.json
/sql files/694project.mwb
694project.mwb.bak
__pycache__
.vscode
cache_checkpoint.pickle
.unwanted_check