/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 20px;
}

/* Links styling */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.h1 {
    padding: 2000px
}

/* Hover effect */
.sidebar a:hover {
    background-color: #ddd;
}

/* Main content styling */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 20px;
}

/* Mobile responsive */
@media screen and (max-height: 600px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}