<html>
  <form method="post" action = "/search">
    <input type="radio" name="options" id="option1" value="hashtag"> Hashtag </input><br>
    <input type="radio" name="options" id="option2" value="keyword"> Keyword </input><br>
    <input type="radio" name="options" id="option3" value="username"> Username </input><br>
    Search Query: <input name="query"/>
    <button type="submit">Submit</button>
    <br/><br/>
    <input type="button" name="top_tweets" value="Top 10 Tweets" onclick="window.location.href='/top_10_tweets'"></input>
    <input type="button" name="top_users" value="Top 10 Users" onclick="window.location.href='/top_10_users'"></input>  
  </form>
        <br>
        <br>
    <h1>{{name}}</h1>
    {{value | safe}}
</html>